{{ define "main"}}
<!-- cover page -->
{{ $hero := resources.Get "images/hero-image.jpg" }}
<div class="p-1 data-bs-target text-white text-center" id="cover-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ $hero.RelPermalink }});">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
            {{ $cover := resources.Get "images/cover-photo.png" }}
            <img src="{{ $cover.RelPermalink }}" alt="my-profile-pic" id="my-profile-pic">
            <h1 class="fw- ">Hey! I am Aryan Gupta</h1>
            <h3 class="fw- ">ML Enthusiast | OSS Developer</h3>
            <p class="lead text-body-secondary">Welcome to My Website 👋</p>

            <a href="#" class="fa fa-twitter" id="fa"></a>
            <a href="https://github.com/guptaaryan16" class="fa fa-github" id="fa"></a>
            <a href="https://www.instagram.com/guptaaryan16/" class="fa fa-instagram" id="fa"></a>
            <a href="https://www.linkedin.com/in/guptaaryan16" class="fa fa-linkedin" id="fa"></a>
            <a class="arrow down"></a>

        </div>
    </div>
</div>
<div class="container px-4">
    <br>
    <!-- About Me Section -->
    <h2 class="display-5" id="about">About Me</h2>
    <p>Hi there, I am Sophomore in Electrical Engineering Major at IITR and an ML enthusiast. I have done various
        courses in machine learning and Deep Learning and have good knowledge of CNNs and NLP systems. Recently I have
        worked in GANs and Adversarial security and have gained good exposure in the same. <br> </p>
    <p>
        &emsp;&emsp;Besides ML, I am a big fan of general development and have studied C++ basis and now trying to learn the advanced features as well. Also I have been a part of Open-Source Python community and have contributed to libraries like PyTorch-Ignite. I have also participated in ML reproducbility challenge 2023 and have done some research on Double Sampling Randomized Smoothing.</p>

    <div class="row d-flex justify-content-center mt-70 mb-70">

        <div class="col-md-6">
      <!-- <p>Another meeting with UK client today, at <b class="text-danger">3:00 PM</b> for red text -->
    <!-- <span class="text-success">December 2022 - Present</span><p> for green text -->
            <div class="main-card mb-3 card">
                <div class="card-body" style="background-color: #B6D6CC;">
                    <h5 class="card-title">My Updates</h5>
                    <div class="scroll-area">
                        <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">Open Source Contribution</h4>
                                        <span class="text-success">December 2022 - Present</span>
                                        <p>
                                        <ul>
                                            <li> Contribued an Example on Super Resoultion GAN in Pytorch-Ignite main repository</li>
                                            <li>Added some features in Create supervised trainer class</li>
                                            <li>Contributed to some routine CI issues</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">Inter IIT Tech Meet 11.0 - ISRO Challenge </h4>
                                        <span class="text-success">February 2023</span>
                                        <p>
                                        <ul>
                                            <li> Participated in a chellenge by ISRO to enhance the resolution of images captured by Chandrayaan 2 on the surface of the moon</li>
                                            <li>Worked on ESRGANs and won Bronze medal for the Challenge</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title"> Social Summer of Code - Hackathon </h4>
                                        <span class="text-success">August 2022 - September 2022</span>
                                        <p>
                                        <ul>
                                            <li>Participated in various small open sourced projects to have a feel about how open source works in the real world</li>
                                            <li>Secured 14th place among 200 developers</li>
                                            <li>Learnt about DL projects, YOLOv5 and Django</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title"> Data Science Group IITR </h4>
                                        <span class="text-success">April 2022 - Present</span>
                                        <p>
                                        <ul>
                                            <li>Got selected in the core team and loved the culture here </li>
                                            <li>Learning about ML and DL concepts and building projects around it</li>
                                            <li> Worked on Some projects like AI security and have been involved a lot in general events and lectures</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title"> Indian Institute of Technology Roorkee - Electrical Engineering Major </h4>
                                        <span class="text-success">October 2021 - Present</span>
                                        <p>
                                        <ul>
                                            <li>Secured an All India Rank of 1751 in JEE Advanced and got in EE program at IITR</li>
                                            <li>Love working on electronics and basic stimulation projects</li>
                                            <li>Love to see developments in Computer Vision related to robotics</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- Article Section -->
        <h2 class="display-5">Blog Posts</h2>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-color: #B6D6CC;">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-color: #B6D6CC;">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">Post title</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
        P.S. This website is in Heavy development and may take some time to be set up completely 🫡
    </div>
{{ end }}