{{ define "main" }}
<div class="container px-8" style="height: 40rem; margin-left: 10%;">
{{.Content}}
{{ $prev := 3000}}
{{range .Site.RegularPages}}
{{if .Date}}
{{if gt $prev (.Date.Format "2006")}}
{{ if ne $prev 3000}}
{{ end }}
<div class="posts-container mx-auto px-3 py-5">
<h2>{{ .Date.Format "2006" }}</h2>
    <div class="list mb-5">
    {{end}}
        <div>
            <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
            <span >{{.Date.Format "Monday, Jan 2, 2006"}}</span>
            <hr>
        </div>
    
    {{ $prev = .Date.Format "2006"}}
    {{end}}
    {{end}}
    </ul>
</div>
{{end}}