{{- define "main" }}
    
<article class="post-single" >
    
    {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden
    }}
    {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    {{- if (.Param "ShowToc") }}
    {{- partial "toc.html" . }}
    {{- end }}

<div class="container" id="single-page">

    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-8">
            <!-- the actual blog post: title/author/date/content -->
            <h1>{{ .Title }}
            {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}</h1>
            <p class="lead"><i class="fa fa-user"></i> by <a href="">{{.Params.Author}}</a>
            </p>
            <hr>
            <p><i class="fa fa-calendar"></i> Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
            {{- if .Summary }}
            <div class="post-description">
                {{ .Summary }}
            </div>
            {{- end }}
            <hr>
            <!-- Main content -->
            {{.Content}}
            <br />
            <br />
            <br />
            <h4>Like the post? Tweet about it!</h4>
            </p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            
            <div class="g-plusone" data-annotation="inline" data-width="300" data-href=""></div>
            
            <script type="text/javascript">
                (function () {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
            <br />
            <hr>

            <!-- the comment box -->
            <div class="well">
                <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
                {{ partial "comments.html" . }}
            </div>
            <script src="https://apis.google.com/js/plusone.js">
            </script>

        </div>

        <div class="col-lg-4">
            <!-- /well -->
            <div class="well">
                <h4><i class="fa fa-tags"></i> Popular Tags:</h4>
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="list-unstyled">
                            {{ range .Params.categories }}
                            <li><a href="">{{.}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4><i class="fa fa-thumbs-o-up"></i> Follow me!</h4>
                <ul>
                    <p><a title="Facebook" href="{{ .Site.Data.contact.facebook }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i
                    class="fa fa-facebook fa-stack-1x"></i></span></a> 
                    
                    <a title="Instagram" href="{{ .Site.Data.contact.instagram }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x"></i></span></a>

                    <a title="Twitter" href="{{ .Site.Data.contact.twitter }}"><span
                    class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i
                    class="fa fa-twitter fa-stack-1x"></i></span></a> 
                    
                    <a title="Linkedin" href="{{ .Site.Data.contact.linkedin }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a> 

                    <a title="GitHub" href="{{ .Site.Data.contact.github }}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></span></a> 
                </ul>
            </div>
            <!-- /well -->
            <div class="well">
                <h4><i class="fa fa-fire"></i> Latest Posts:</h4>
                <ul>
                    {{ range first 2 .Site.RegularPages.ByDate.Reverse }}
                    <li><a href="">{{.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
            <div>
                <div class="sticky-top">
                    <div class="card" id="toc">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-table"></i> Table of Contents</h4>
                            <!-- Your table of contents shortcode goes here -->
                            {{ .TableOfContents }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <hr>
</article>
{{- end }}
{{/* end main */}}