{{ define "main"}}
<!-- cover page -->
{{ $hero := resources.Get "images/hero-image.jpg" }}
<div class="p-1 data-bs-target text-white text-center" id="cover-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(104, 83, 83, 0.5)), url({{ $hero.RelPermalink }});">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
            {{ $cover := resources.Get "images/cover-photo.png" }}
            <img src="{{ $cover.RelPermalink }}" alt="my-profile-pic" id="my-profile-pic">
            <h1 class="fw- ">Hey! I am Aryan Gupta</h1>
            <h3 class="fw- ">ML Enthusiast | OSS Developer</h3>
            <p class="lead text-body-secondary">Welcome to My Website 👋</p>

            
            <p class="lead text-body-secondary"></p>
            <a href="{{ .Site.Data.contact.twitter }}" class="fa fa-twitter" id="fa"></a> 
            <a href="{{ .Site.Data.contact.github }}" class="fa fa-github" id="fa"></a>
            <a href="{{ .Site.Data.contact.instagram }}" class="fa fa-instagram" id="fa"></a>
            <a href="{{ .Site.Data.contact.linkedin }}" class="fa fa-linkedin" id="fa"></a>
            <a href="{{ .Site.Data.contact.facebook }}" class="fa fa-facebook" id="fa"></a>
            <a class="arrow down"></a>
            </p>
        </div>
    </div>
</div>
<div class="container px-4">
    <br>
    <!-- About Me Section -->
    <h2 class="display-5" id="about">About Me</h2>
    <p>Hi there, I am a Junior in Electrical Engineering Major at IITR and an ML enthusiast. I have done various
    machine learning and Deep Learning courses and have good knowledge of CNNs and NLP systems. I have recently
    worked in GANs and Adversarial security and have gained good exposure. <br> </p>
    <p>
        &emsp;&emsp;Besides ML, I am a big fan of general software development, especially in the PyData ecosystem. I studied C++ basics in
        college and am now trying to learn the advanced features. Also, I have been a part of the Open-Source Python community
        and have contributed to libraries like PyTorch-Ignite. I have also participated in the ML reproducibility challenge 2023
        and have done some research on Double Sampling Randomized Smoothing.</p>

    <div class="row d-flex justify-content-center mt-70 mb-70">

        <div class="col-md-6">
      <!-- <p>Another meeting with UK client today, at <b class="text-danger">3:00 PM</b> for red text -->
    <!-- <span class="text-success">December 2022 - Present</span><p> for green text -->
            <div class="main-card mb-3 card">
                <div class="card-body" style="background-color: #DAF0EE;">
                    <h5 class="card-title">My Updates</h5>
                    <div class="scroll-area">
                        <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            {{ range $.Site.Data.experience.experience }}
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>

                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">{{ .name }}</h4>
                                        <span class="text-success">{{ .date }} </span>
                                        <p>
                                        <ul>
                                            {{ range .content }}
                                                <li> {{ . }}</li>
                                            {{ end }}
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <!-- Article Section -->
        <h2 class="display-5">Blog Posts</h2>
        <div class="row mb-2">
            {{ range .Site.RegularPages.ByDate.Reverse }}
            {{ if .Params.on_home}}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-color: #DAF0EE;">
                    <div class="col p-4 d-flex flex-column position-static">
                        {{ if .Params.tags }}
                        {{range .Params.tags}}
                        <strong class="d-inline-block mb-2 text-success">{{ . }}</strong>
                        {{end}}
                        {{end}}
                        <h3 class="mb-0">{{.Title}}</h3>
                        <div class="mb-1 text-muted">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
                        <p class="card-text mb-auto">{{.Summary}}</p>
                        {{ if .Params.categories }}
                        <strong class="d-inline-block mb-2 text-success">Categories:
                            {{range .Params.categories}}
                            <a href='{{ "/categories/" | relLangURL }}'>{{ . }}</a>{{end}}
                        </strong>
                        {{end}}
                        <a href='{{ .Permalink }}' class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                    </div>
                </div>
            </div>
            {{end}}
            {{ end }}
        P.S. This website is in Heavy development and may take some time to be set up completely 🫡
    </div>
{{ end }}